body {
    background-image: linear-gradient(to bottom right, #000000, #777777);
    background-color: #000000;
}

#messageSubmission {
  margin: auto;
  width: 66%;
  border-style: none ridge ridge groove;
  border-color: #996633;
  border-width: 0px 24px 16px 24px;
  border-radius: 8px 8px 16px 16px;
  padding: 0px;
  background-color: #996633;
}

#messageHistory {
  margin: auto;
  width: 66%;
  border-style: solid ridge solid groove;
  border-color: #996633;
  border-width: 4px 12px 4px 12px;
  padding: 0;
  background-image: url("/static/origami_dragon.jpg");
  background-color: #AAAAAA;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #6600FF;
}

#obscuredMessageHistory {
    height: 600px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.3);
}

#chatRoomStats {
  margin: auto;
  width: 66%;
  padding: 0;
  text-align: right;
  background-color: #996633;
  border-style: groove ridge none groove;
  border-color: #996633;
  border-width: 16px 24px 4px 24px;
  border-radius: 16px 16px 8px 8px;
}

li {
    list-style: none;
    border: 1px dotted #000000;
    min-height: 40px;
}

.bot {
    background-color: rgba(255, 255, 255, 0.1);
}

.user {
    opacity: 1.0;
    background: transparent;
}

.profileImage {
    height: 38px;
    float: left;
    border: 1px solid #000000;
}

.embeddedImage {
    max-height: 200px;
    max-width: 200px;
}

ul {
    padding: 0px;
    margin: 0px;
    border: 1px solid #000000;
}

form {
    margin: 0px;
}

#send_button {
    width: 25%;
}

#message_input {
    width: 75%;
}

#chatRoomStats p {
    margin: 0px 0px 0px auto;
    padding: 0px 10px 0px 0px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    width: 33%;
}
