body {
    background-image: linear-gradient(to bottom right, #000000, #777777);
    background-color: #000000;
}

#messageSubmission {
  margin: auto;
  width: 66%;
  border: 3px solid green;
  padding: 0px;
}

#messageHistory {
  margin: auto;
  width: 66%;
  border: 3px solid #4700B3;
  padding: 0;
  background-image: url("/static/origami_dragon.jpg");
  background-color: #AAAAAA;
  background-position: top-center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #6600FF;
}

#chatRoomStats {
  margin: auto;
  width: 66%;
  border: 3px solid green;
  padding: 0;
  text-align: right;
}

li {
    list-style: none;
    border: 1px dotted #000000;
}

.bot {
    background-color: rgba(255, 255, 255, 0.1);
}

.user {
    opacity: 1.0;
    background: transparent;
}

ul {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

form {
    margin: 0px;
}

#send_button {
    width: 25%;
}

#sender_input {
    width: 25%;
}

#message_input {
    width: 50%;
}

#chatRoomStats p {
    margin: 10px 10px 0px 0px;
}
